*{
    margin:0;
  
  
}

h1{
    text-align: center;
    padding-top:40px;
    margin:0;
    background-color:blanchedalmond ;
    height:50px;
}

div{
   /*border:1px solid black;*/
}

.wrapper{
 display:flex;
    height:100vh;
    
}

.bookCard{
    font-size: 20px;
    margin:50px;
}
.control{
  margin:20px;
  text-align: center;
  width:300px;
  background-color: blanchedalmond;
  margin:0;
}

input {
    width: 90%;
    padding: 8px 5px;
    margin:auto;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  input {
   
  }


  

  button{
    margin:20px;
    padding:5px;
    padding-left:20px;
    padding-right:20px;
    background-color: rgb(244, 141, 196);
    border-radius:5px ;
  }

  input[type="checkbox"] {
   margin-top: 10px;
  }

  